.items-word-wrapper {
    &__item-wrapper {
        margin: 10px 0;
        border-radius: 5px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        background: #09cd74;
        border-radius: 5px;
        padding: 15px;
        transition: 0.5s;

        &:hover {
            transition: 0.5s;
            background: #4beaa2;
        }
    }
}

// если тру показываем чекбокс-компонент
.checkedWordBgJs {
    background: #ff9800 !important;
    }