  .page-one {
    position: relative;
    // height: 100vh;
  }

  .wrapper-array-up {
    position: fixed;
    top: 110px;
    display: none;
  }

  .btn-array-top-page {
    background: #00ff00;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    transition: 0.5s;
  }

  .btn-array-top-page:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #e4d504;
  }

  .icon-svg-array-up svg {
    width: 40px;
    height: 40px;
    fill: #ffffff;
  }