.header {
&__title {
    font-size: 25px;
}
    &__btns {
        display: flex;
    }

    &__link  {
    
    background: #46bd87;
    color: #ffffff;
    width: 80px;
    height: 30px;
    border-radius: 5px;

    margin: 15px;
    margin-left: auto;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s;

    &:hover {
        background: #01aa5e;
        transition: 0.5s;
        cursor: pointer;

        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    }
    
    }

    &__btn-randow-word {
    background: #46bd87;
    color: #ffffff;
    width: 120px;
    height: 30px;
    border-radius: 5px;

    margin: 15px;
    padding: 20px 0;
    border:none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s;

    &:hover {
        background: #01aa5e;
        transition: 0.5s;
        cursor: pointer;

        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }