// app.vue
@import "@/APP.scss";



// header
@import "@/components/header/header.scss";

// main
@import "@/components/main/main.scss";

// template item-word
@import "@/components/main/components/template-word/item-word.scss";
// mini-component btn-delet-item
@import "@/components/main/components/template-word/components/btn-delete-item.scss";

// component search
@import "@/components/main/components/search/search.scss";
// mini-component- input-search
@import "@/components/main/components/search/components/main-search-words.scss";



// footer
@import "@/components/footer/footer.scss";


// media adaptive
@import "@/scss/media.scss";
