// MEDIA 1050

@media (max-width: 1050px) {
    #app {
    border:none;
    border-radius: 0;
    padding: 15px;
    max-width: none;
    margin: 0 auto;
    background: aliceblue;
    }
    .page-one {
        height: 100vh;
    }
    .footer {
        color:aliceblue !important;
    }
}
// MEDIA 600
@media (max-width: 600px) {
.header__icons-mobile {
    display: flex;
}
.header__btns {
    display: none;
}
    .discription-item {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    .discription-item__line {
        display: none;
    }

    .btn-delete-item:hover {
        transition: 0.5s;
        background: #2c3e50;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    .btn-delete-item-desktop{
        display: none;
    }

    .btn-delete-item-mobile {
        display: flex;
    }

    .items-word-wrapper__item:hover {
        background: #09cd74;
        transition: 0s;
    }

    .input-checkbox-hide-item {
        width: 57px;
        height: 57px;
    }

    .discription-item__ru-word {
        text-align: center;
        margin: 0;
    }
  }