@media (max-width: 600px) {
    .discription-item {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .discription-item__line {
        display: none;
    }
  }