@media (max-width: 600px) {
    .discription-item {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    .discription-item__line {
        display: none;
    }



    .btn-delete-item:hover {
        transition: 0.5s;
        background: #2c3e50;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    .btn-delete-item-desktop{
        display: none;
    }
    .btn-delete-item-mobile {
        display: block;
    }


    .items-word-wrapper__item:hover {
        background: #09cd74;
        transition: 0s;
    }
  }